<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd">

    <http auto-config="true" >
        <form-login  authentication-failure-url="/Access_Denied" />
        <logout logout-url="/logout.do" logout-success-url="/security/logout-success.do" />

        <intercept-url pattern="/admin**" access="hasRole('ADMIN')" />
        <intercept-url pattern="/myAccount/**" access="hasRole('user')" />
        <intercept-url pattern="/**" access="permitAll" />
    </http>



</beans:beans>